{% extends "core/base.html" %}
{% load static %}

{% block content %}
      <!-- start main -->
      <div class="container">
        
        <div class="card">
          <div class="card-body">
            <h2 class="card-title my-3">Bienvenidos a la pagina de Inicio</h2>
            <div class="my-3"> Esta pagina es una pagina de Landingpage</div>
            <img class="img-fluid" src="{% static 'core/img/p12.jpg' %}" alt="">          
            <div class="my-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti modi laudantium impedit, harum voluptate ducimus facere quidem porro dolorum, nemo vero voluptatum dolor suscipit magni corporis quae? Nam, ex placeat!
            Saepe omnis exercitationem modi expedita temporibus ipsam aliquam quo rem in illo. Totam in ratione ipsam dolorem ullam officiis voluptatem vel, ad laudantium enim earum minima incidunt iste maxime distinctio!
            Quod corrupti, illum vel commodi ipsum doloribus provident aspernatur! Animi reiciendis architecto sint quidem quia! Consectetur accusantium harum a necessitatibus quas odit quasi ipsum. Recusandae praesentium voluptatem rerum aut porro.</div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6 offset-lg-3">
            <br><br>  
            
          </div>
        </div>

      </div>

      <!-- end main -->
{% endblock %}